a {
  @include transition;
  &:link, &:visited {
    color: $color__link;
    text-decoration: none;
  }
  &:hover, &:focus, &:active {
    color: $color__company-secondary !important;
    outline: none;
  }
}

a.nostyle{
  color: unset !important;
}