header{
  #primary-header{
    .header-navigation-wrapper{
      .site-menu{
        nav{
          ul{
            list-style-type: none;
            margin:0;
            padding:0;
            li{
              position: relative;
              padding:0 10px;
              display: inline-block;
              &:last-of-type{
                padding-right:0;
              }
              a{
                &:link, &:visited{
                  color: #fff;
                }
              }
              ul.sub-menu{
                @include transition;
                margin-top:25px;
                padding-top:5px;
                display: block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top:0;
                left:0;
                text-align: left;
                li{
                  width:100%;
                  white-space: nowrap;
                  &:last-of-type{
                    padding-right:10px;
                  }
                  a{
                    background: #fff;
                    padding:5px 15px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    width:100%;
                    display: block;
                    color: $color__text-main;
                  }
                }
              }
              &:hover{
                ul.sub-menu{
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .hamburger{
        .overlay {
          @include transition;
          height: 100vh;
          width: 0;
          z-index: -2;
          position: fixed;
          top: 0;
          left: 0;
          opacity: 0;
          overflow-x: hidden;
          overflow-y: hidden;
          &.isactive {
            width: 100%;
            opacity: 1;
            @include transition;
            background-color: rgba(0, 0, 0, .85);
          }
          .logorow {
            padding: 20px;
            img {
              text-align: center;
            }
          }
          ul.menu {
            text-align: center;
            margin-top:25px;
            li {
              display: block;
              font-size: 1.5em;
              width:100%;
              padding: 10px 0;
            }
            a {
              color: #fff;
              &:hover{
                color: $color__company-primary !important;
              }
            }
          }
        }
      }
    }
  }
}