button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  @include font-size(0.75);
  line-height: 1;
  padding: .6em 1em .4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.btn-primary, input[type="submit"] {
  @include transition;
  cursor: pointer;
  background: $color__company-primary;
  padding: 7px 40px;
  border-radius: 100px;
  &:link, &:visited {
    color: #fff;
  }
  &:hover{
    color: #fff !important;
    background: $color__company-secondary;
  }
}

input[type="submit"]{
  padding:10px 40px;
  font-size:1em;
  color: #fff;
}