input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	padding: 3px;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"], input[type="email"], textarea, input[type="tel"]{
  padding:10px;
  border-radius: 5px;
  border:none;
  &:focus{
    outline:0;
  }
}

footer{
  form{
    margin-top:10px;
  }
}

form.inschrijf-form{
  .form-row{
    display: flex;
    margin: 15px 0;
    label{
      height:100%;
      flex:1 0 0;
      color: #ff7000;
      font-weight: 600;
      font-size: .9em;
      padding: 10px;
      box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.15);
      width: 20%;
      background: #f7f7f7;
      text-align: center;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[type="text"],input[type="email"], select, textarea{
      height:100%;
      flex: 4 0 0;
      background-color: rgba(0,0,0,.025);
      border: none;
      padding: 12.5px;
      outline: 0;
    }
    input[type="submit"], button{
      display: block;
      outline: 0;
      margin:10px auto 0;
      border: none;
      background: $color__company-primary;
      &:hover{
        background: #000;
      }
    }
  }
}
