footer {
  background: rgba(211, 208, 208, 1);
  padding: 50px 0 1px;
  .footer-contact-title {
    text-transform: uppercase;
    font-weight: 600;
  }

  .row {
    &:first-child {
      margin-bottom: 40px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 3px 0;
      font-weight: 300;
       a {
        padding-top: 0;
        text-transform: uppercase;
        font-weight: 600;
         display: block;
         margin-top: 10px;
         margin-bottom: 5px;
      }
      &:first-child {
        a {
          margin-top: 0;
        }
      }

      a {
        &:link, &:visited {
          color: $color__text-main;
        }
      }
      ul {
        a {
            text-transform: none;
            font-weight: 400;
            font-size: .9em;
             margin:0;
        }
      }
    }
  }
  .footer-mail-wrapper, .footer-phone-wrapper {
    svg {
      width: 25px;
    }
    a {
      &:link, &:visited {
        color: $color__text-main;
        font-weight: 500;
      }
    }
    .copyright {
      display: block;
      font-size: .8em;
    }
  }
  .footer-social-wrapper {
    svg {
      width: 25px;
      height: 25px;
      margin: 0 15px;
      &:hover {
        path {
          fill: $color__company-secondary;
        }
      }
    }
  }
  .wpcf7-form{
    input[type=submit]{
      float: left;
      margin-top: -15px;
    } 
  }
}

@media all and (max-width:992px){
}
@media all and (max-width:768px){

}

@media all and (max-width:576px){
  footer{
    text-align:center;
    .footer-contactgegevens, .footer-mail-wrapper, .menu, .footer-phone-wrapper{
      margin-bottom: 10px;
    }
  }
}