main {
  #front-page {
    section#section-1 {
      padding: 50px 0;
      .page-title {
        margin-bottom: -15px;
        font-weight: 300;
      }
      .front-content-cpt {
        padding: 0 0 50px 0;
        .col-child {
          margin: 15px 0 !important;
        }
        .child-page-item {
          min-height: 100%;
          cursor: auto;
          .item-thumb{
            height:300px;
          }
          .item-excerpt {
            margin-bottom:33px;
            ul {
              list-style-type: none;
              padding: 0;
              margin: 0;
              li {
                &:first-of-type {
                  padding-top: 0;
                }
                @media all and (max-width: 1444px){
                  font-size: 1rem;
                }
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 20px 0;
                hyphens: auto;
                border-bottom: 1px solid grey;
                span{
                  flex-grow: 1;
                  align-self: center;
                  margin-right:10px;
                }
                a.btn-primary {
                  flex-basis: 120px;
                  min-width: 120px;
                  align-self: center;
                  text-align: center;
                  padding: 2px 15px;
                  &:hover{
                    background: $color__text-main;
                  }
                }
              }
            }
          }
          .item-cta {
            position: absolute;
            bottom: 0;
            width: 95%;
            text-align: center;
            a {
              &:link, &:visited {
                color: rgba(0, 0, 0, 0.65);
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    section#section-2 {
      .page-content {
        margin-left: -15px;
        margin-right: -15px;
      }
      .carousel {
        ol{
          li{
            background: rgba(255,255,255,0.6);
            &.active{
              background: $color__company-secondary;
            }
          }
        }
        .carousel-inner {
          height:30vw;
          min-height:300px;
          .carousel-item {
            height:100%;
            background-size: cover;
            background-position: center;
            .item-content {
              display: table;
              position: absolute;
              top:0;
              left:0;
              width:100%;
              height:100%;
              .item-content-inner{
                color: #fff;
                background: rgba(0, 0, 0, 0.5);
                padding: 15px;
                display: table-cell;
                vertical-align: middle;
                margin:0 auto;
                p{
                  width:75%;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .slider-wrapper {
    #carousel-partners {
      margin-top: 0;
      .carousel-inner {
        .carousel-item img {
          width: 30%;
        }
      }
    }
  }
  main {
    #front-page {
      section#section-1 {
        .front-content-cpt {
          .col-child {
            margin: 0;
          }
          .child-page-item {
            min-height: auto !important;
            height: auto !important;
            .item-cta {
              position: relative !important;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 576px) {
  .slider-wrapper {
    #carousel-partners {
      .carousel-inner {
        .carousel-item img {
          width: 100%;
          max-width: 350px;
        }
      }
    }
  }
}

@media all and (max-width: 414px){
  main{
    #front-page{
      section#section-1{
        .front-content-cpt{
          .child-page-item{
            .item-excerpt{
              ul{
                li{
                  a.btn-primary{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}