header {
  #primary-header {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    .header-navigation-wrapper {
      background: rgba(70, 4, 16, 0.4);
      position: relative;
      z-index: 10;
      margin: 0 -15px;
      .site-brand {
        padding: 15px 0;
        img {
          width: 100%;
          max-width: 175px;
        }
      }
      .site-menu-contact {
        padding: 15px 0;
        span {
          display: block;
          padding: 2px 0;
          a {
            &:link, &:visited {
              color: #fff;
              font-weight: 600;
            }
          }
          svg {
            width: 20px;
            margin-top: -2px;
            margin-left: 10px;
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    .header-content-wrapper {
      padding: 5% 0 8%;
      color: #fff;
      h1 {
        font-size: 2.2em;
        font-weight: 600;
        margin: 15px 0;
      }
      p {
        margin: 15px 0;
        font-size: 1.5em;
      }
    }
    .featured-workshop-wrapper {
      transform: translateY(-50px);
      .header-workshop-item {
        background: rgba(117, 93, 89, 0.60);
        color: #fff;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 80px;
        }

        .workshop-left {
          height: 100%;
          background-size: cover;
          background-position: center;
        }
        .workshop-right {
          padding: 25px 25px 25px 0;
          .workshop-title {
            font-weight: 600;
            font-size: 1em;
            margin-bottom: 5px;
            text-transform: uppercase;
          }
          .workshop-content {
            margin-bottom: 15px;
            font-size: .9em;
          }
        }
      }
    }
    .chevron-wrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
      text-align: center;
      padding-bottom: 50px;
      svg {
        width: 40px;
        path {
          fill: #fff;
        }
      }
    }
  }
  /* hamburger */
  .hamburger {
    float: right;
    z-index: 99999;
    padding: 0;
    margin-top: -10px;
    display: block;
    .navbar-header {
      button {
        border: none;
        border-radius: 0;
        outline: none;
        background-color: transparent;
        padding: 0;
      }
    }
    ul.menu {
      margin-top: 100px;
      color: $color__company-secondary;
      list-style-type: none;
      padding: 0;
      li {
        padding: 0;

      }

      .menu-item {
        width: 25%;
        float: left;
        font-weight: 300;
        font-size: 1.1em;
        a {
          &:hover {
            color: $color__company-primary;
            font-weight: 200;
          }
        }

        .sub-menu {
          margin: 0;
          padding: 0;
          li {
            float: left;
            font-size: 0.9em;
            padding: 0;
            margin: 0;
            list-style-type: none;
            clear: left;
            &:hover {
              color: $color__company-primary;
            }
          }
        }
      }
      .sub-menu {
        li:last-of-type {
          margin-bottom: 20px;
        }
        li {
          width: 100%;
        }
      }
    }
  }
  .hidden {
    display: none;
  }

  .navbar {

    a {
      color: $color__company-secondary;
    }
    .navbar-toggle .icon-bar {
      display: block;
      width: 40px;
      background-color: $color__company-primary;
      height: 5px;
      margin-top: 8px;
      border-radius: 1px;

      z-index: 99;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    .rotatemenu {
      &.isactive {
        transform: rotate(45deg);
      }

    }

    .isactive {
      .icon-bar {
        background-color: $color__company-primary;
      }
      .icon-bar:nth-child(1) {
        transform: translateY(13px);
        transition: all 0.5s ease-in-out;
      }
      .icon-bar:nth-child(2) {
        opacity: 0
      }
      .icon-bar:nth-child(3) {
        transform: translateY(-13px) rotate(90deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.video-background {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: -99;
}

.video-inner{
  height:100%;
  width:100%;
  video{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}


@media all and (max-width: 1200px){
  header {
    #primary-header {
      .featured-workshop-wrapper {
        .header-workshop-item {
          &:nth-child(2) {
            margin-bottom: 50px;
          }
        }
      }
      .chevron-wrapper {
        padding-bottom: 15px;
      }
    }

  }
}


@media all and (max-width: 992px) {
  .headermenu {
    display: none;
  }
  .hidden {
    display: block !important;
  }
  header {
    #primary-header {
      .featured-workshop-wrapper {
        display: block;
        .header-workshop-item {
          &:nth-child(2) {
            margin-bottom: 50px;
          }
          text-align: center;
          .workshop-left {
            height: 200px;
          }
        
        }
      }

    }
  }
}

@media all and (max-width: 768px) {
  header {
    #primary-header {
      .featured-workshop-wrapper {
        .header-workshop-item {
          display: none;
        }
      }
      .header-content-wrapper{
        h1{
          font-size: 1.5em;
        }
        p{
          font-size: 1.25em;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  header {
    #primary-header {
      background-size: cover;
      .video-background {

      }
    }
    .site-brand {
      text-align: center;
    }
    .site-menu-contact {
      text-align: left;
    }
    .navbar {
      margin-top: -80px;
    }
  }

}