.grecaptcha-badge {
  visibility: hidden;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-content{
  ul{
    margin-top:-1.5rem;
    padding:0 0 0 1rem;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

header {
  &.page-header {
    #primary-header {
      height: 70vh;
      position: relative;
      .header-navigation-wrapper {
        .site-brand {
          padding: 5px 0;
          img {
            max-width: 120px;

          }
        }
        .site-menu-contact {
          margin-top: -10px;
          span {
            display: inline-block;
            font-size: .9rem;
          }
        }
      }
    }
  }
  #primary-header {
    .header-page-wrapper {
      text-align: center;
      color: #fff;
      padding: 10% 0 0;
      h1 {
        font-weight: 300;
        font-size: 2.2em;
      }
      &::before {
        content: '';
        background: rgba(72, 62, 73, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.fancy {
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  color: $color__company-secondary;
  &::before, &::after {
    background: rgba(242, 234, 231, 1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before {
    right: 0.5em;
    margin-left: -50%;
  }
  &::after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.page-ondertitel {
  text-align: center;
  display: block;
  margin-bottom: 25px;
  font-weight: 600;
}

.agenda-sidebar {
  background-color: #eee;
  box-shadow: 2px 2px 20px 2px #e1e1e1;
  padding: 1px 20px 20px 20px;
  margin-top: 20px;
  h2 {
    color: $color__company-secondary;
    font-size: 1.4em;
    font-weight: 400;
    span {
      font-size: 1.9em;
    }
  }
  .cat-item {
    .row {
      border-bottom: 1px solid grey;
      padding: 10px;
    }
    .row:first-child {
      border-top: 1px solid grey;
    }
  }

}

main {
  #content {
    article {
      section.entry-content {
        padding: 0 0 75px;
        &.ervaring-item {
          padding: 35px 0;
          margin: 0;
          border-bottom: solid 1px rgba(0, 0, 0, 0.15);
          a {
            &:link, &:visited {
              color: $color__company-primary;
            }
          }
          &:last-of-type {
            margin-bottom: 75px;
            border: none;
          }
        }
        .page-inleiding {
          font-weight: 600;
          &::first-letter {
            font-size: 3em;
            color: $color__company-primary;
            line-height: 1em;
            float: left;
            padding-right: 5px;
          }
        }
        .child-page-wrapper {
          .child-col {
            min-height: 100%;
            margin: 15px 0;
          }
          .child-page-item {
            position: relative;
            cursor: pointer;
            min-height: 100%;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
            .item-thumb {
              position: relative;
              height: 200px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              h2 {
                background: rgba(72, 62, 73, 0.4);
                margin: 0;
                position: absolute;
                word-break: break-all;
                bottom: 0;
                width: 100%;
                color: #fff;
                padding: 5px 10px;
                font-size: 1.5em;
              }
            }
            .item-excerpt {
              padding: 25px 10px;
              p {
                margin-top: -10px;
                margin-bottom: 50px;
              }
            }
            .item-cta {
              padding: 0 10px 15px;
              position: absolute;
              bottom: -5px;
              width: 100%;
              .btn-primary {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 3px 40px;
                &:hover{
                  background: $color__text-main;
                }
              }
            }
          }
          .tarief {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

//contactpage

input[type=email], input[type=text], textarea {
  background-color: #eee;
}

.slider-wrapper {
  padding-bottom: 25px;
  #carousel-ervaringen, #carousel-partners {
    margin-top: -50px;
    .carousel-indicators {
      li {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background: $color__text-main;
        &.active {
          background: $color__company-secondary;
        }
      }
    }
    .carousel-inner {
      text-align: center;
      .carousel-item {
        img {
          width: 33%;
          padding: 0 15px;
          display: inline-block;
        }
      }
    }
  }
  #carousel-partners {
    .carousel-control-prev {
      span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      }
    }
    .carousel-control-next {
      span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
      }
    }
    .carousel-inner {
      height: 20vw;
      min-height: 300px;
      .carousel-item {
        .item-img {
          display: inline-block;
          width: 20vw;
          height: 20vw;
          min-height: 300px;
          margin: 0 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

// agenda page

#agenda {
  .agenda-archive-wrapper {
    .agenda-item {
      position: relative;
      background: rgba(0, 0, 0, 0.025);
      margin: 35px 0;
      padding: 30px 15px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
      .agenda-date {
        text-align: center;
        color: $color__company-secondary;
        font-size: 1.15em;
        text-transform: uppercase;
        margin-bottom: 10px;
        span {
          font-weight: 600;
          font-size: 1.5em;
          line-height: 1em;
          display: block;
        }
      }
      .agenda-item-title {
        .item-title {
          font-size: 1.25em;
        }
      }
      .agenda-type {
        background: $color__company-secondary;
        width: fit-content;
        width: -moz-fit-content;
        font-size: .8em;
        padding: 2px 5px;
        color: #fff;
        position: absolute;
        top: 15px;
        right: 15px;
      }
      .agenda-inschrijven {
        margin-top: 15px;
        color: #fff;
      }
    }
  }
}

#single {
  #single-post {
    margin: 15px 0 50px;
  }
  .page-inleiding {
    font-weight: 600;
    &::first-letter {
      font-size: 3em;
      color: $color__company-primary;
      line-height: 1em;
      float: left;
      padding-right: 5px;
    }
  }
  .agenda-archive-wrapper {
    background: rgba(0, 0, 0, 0.025);
    margin: 15px 0 50px;
    padding: 20px 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    p {
      margin-bottom: 0;
    }
    .agenda-item {
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      &:first-of-type {
        margin-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
      .agenda-date {
        text-align: center;
        color: $color__company-secondary;
        font-size: 1em;
        margin-bottom: 5px;
        text-transform: uppercase;
        span {
          font-weight: 600;
          font-size: 1.75em;
          line-height: 1em;
          display: block;
        }
      }
      .agenda-item-content {
        .item-title {
          margin-bottom: 10px;
        }
      }
      .agenda-inschrijven {
        color: #fff;
      }
    }
  }
}

.inschrijfmodal {
  .modal-dialog {
    max-width: 740px;
  }
  .modal-header {
    span {
      color: $color__company-secondary;
    }
  }
  .modal-body {
    margin-top: -15px;
  }
}

.wpcf7-form {
  p {
    margin-top: 25px;
    text-align: center;
  }
}

input[type=email], input[type=text], textarea, input[type=tel] {
  background-color: rgba(0, 0, 0, 0.025);
  border: none;
  padding: 10px;
}

div.input {
  margin: 15px 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  > span {
    display: inline-block;
    br {
      display: none !important;
    }
    &.label {
      color: $color__company-secondary;
      font-weight: 600;
      font-size: .9em;
      padding: 10px;
      box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.15);
      width: 20%;
      background: #F7F7F7;
      text-align: center;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.opmerking {
      float: left;
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    }
    &:nth-child(2) {
      width: 79%;
      .wpcf7-form-control-wrap {
        width: 100%;
        margin-left: -2px;
        input {
          border-radius: 0;
        }
      }
    }
  }
}

div.input-checklist {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  .label-checklist{
    color: $color__company-secondary;
    font-weight: 600;
    font-size: .9em;
    padding: 10px;
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.15);
    width: 20%;
    background: #F7F7F7;
    text-align: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .list{
    background: #F7F7F7;
    width: 79.25%;
    margin-left:2px;
    padding:5px 10px;
    .wpcf7-form-control-wrap {
      width: 100%;

      input {
        border-radius: 0;
      }
    }
  }
  .wpcf7-form-control-wrap {
    .wpcf7-list-item {
      display: block;
      font-size: .9rem;
      margin: 0;
      padding: 0;
    }
  }
}

@media all and (max-width: 1200px) {
  .slider-wrapper {
    #carousel-partners {
      .carousel-inner {
        .carousel-item {
          img {
            width: 30%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .slider-wrapper {
    #carousel-partners {
      .carousel-inner {
        .carousel-item {
          img {
            padding-top: 0;
          }
        }
      }
    }
  }
  div.input {
    span {
      &.label {
        margin: 5px 0;
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media all and (max-width: 576px) {
  #agenda {
    .agenda-archive-wrapper {
      .agenda-item {
        padding-top: 0;
        .agenda-date {
          margin: 20px 0;
          font-size: 1em;
        }
      }
    }
  }
}